.m1.ui.two.column.stackable.grid{
	margin:2vh auto;
}

.masthead.center.aligned.segment{
	padding-bottom:3vh;
}

.masthead h1.ui.header{
	margin-top: 2.5em;
	font-size: 4.5rem;
	font-weight: 400;
	letter-spacing: .3vw;
	margin-bottom:0;
}

.masthead h2.ui.header{
	margin-top: 0;
	margin-bottom: 2em;
	font-size: 1.4rem;
	font-weight: 100;
	letter-spacing: .1vw;	    
}

div.ui.text.container{
	margin-bottom:2.5em;
}

@media only screen and (max-width: 700px){
	.masthead h1.ui.header {
		font-size: 2em;
		margin-top: 1.5em;
	}
}
