.examplesSection {
  display: flex;
  background-color: #1e1f26;
  color: white;
  justify-content: center;
  width: 100%;
  padding: 70px 30px;
}

.examplesHeader {
  text-align: left;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .examplesSection {
    padding: 40px 0px;
  }
}
