.item--footer {
  padding: 0 15px 10px 0;
  text-align: right;
  display: flex;
  border-bottom: 1px solid #999;
  margin-bottom: 20px;
  margin-top: 20px;
  justify-content: space-between;
}

.item--info h4 {
  margin: 0;
  font-size: 22px;
}

.item--footer-links,
.item--footer-tags {
  display: flex;
}

.item--footer-links {
  flex-wrap: wrap;
  align-content: flex-start;
  row-gap: 4px;
}

.item--footer-tags {
  align-items: center;
  width: 60%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  row-gap: 4px;
}

.item--info {
  display: flex;
  justify-content: space-between;
}
