.item--footer {
  padding: 0 15px 10px 0;
  text-align: right;
  display: flex;
  border-bottom: 1px solid #999;
  margin-bottom: 20px;
  margin-top: 20px;
  justify-content: space-between;
}

.item--info h4 {
  margin: 0;
  font-size: 22px;
}

.item--footer-links,
.item--footer-tags {
  display: flex;
}

.item--footer-tags {
  align-items: center;
}

.item--info {
  display: flex;
  justify-content: space-between;
}
